/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vapor
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/mix-manifest.json
.php-cs-fixer.cache
