$font-inter-version: "v11";

/* inter-100 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-100.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-100.woff") format("woff");
    font-display: swap;
}

/* inter-200 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-200.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-200.woff") format("woff");
    font-display: swap;
}

/* inter-300 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-300.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-300.woff") format("woff");
    font-display: swap;
}

/* inter-regular - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-regular.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-regular.woff") format("woff");
    font-display: swap;
}

/* inter-500 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-500.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-500.woff") format("woff");
    font-display: swap;
}

/* inter-600 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-600.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-600.woff") format("woff");
    font-display: swap;
}

/* inter-700 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-700.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-700.woff") format("woff");
    font-display: swap;
}

/* inter-800 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-800.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-800.woff") format("woff");
    font-display: swap;
}

/* inter-900 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-900.woff2") format("woff2"),
        url("#{$font-base-url}/gf-inter/#{$font-inter-version}/inter-#{$font-inter-version}-latin-900.woff") format("woff");
    font-display: swap;
}
